
var tranFuc = function(text, value, index) {
  if (text) {
    var patten = getRegExp(value.trim(), 'g');
    return index+1 + '、' + text.replace(patten, function(a) {
      return '<span style="color: red;">' + a + '</span>'
    })
  }
}

var tranContent = function(text, value) {
  if (text) {
    var patten = getRegExp(value.trim(), 'g');
    return text.replace(patten, function(a) {
      return '<span style="color: red;">' + a + '</span>'
    })
  }
}

module.exports = {
  tranFuc: tranFuc,
  tranContent: tranContent
}